<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>Owner Name</th>
        <th>Email</th>
        <th>Model</th>
        <th class="text-right">Purchase Price</th>
      </tr>
      <tr *ngFor="let laptop of laptops">
        <td>
          <a [routerLink]= "['/admin/view', laptop.id]">{{laptop.name}}</a>a>
        </td>
        <td>
          {{laptop.email}}
        </td>
        <td>
          {{laptop.model}}
        </td>
        <td class="text-right">
          {{laptop.purchasePrice}}
        </td>
      </tr>
    </table>
  </div>