<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/admin">Back to List</a>
    </div>
    <div>
      <div class="form-group">
        <label>Buyer Name</label>
        <div class="form-control">{{laptopReg.name}}</div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <div class="form-control">{{laptopReg.email}}</div>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <div class="form-control">{{laptopReg.phone}}</div>
      </div>
      <div class="form-group">
        <label>Laptop Model</label>
        <div class="form-control">{{laptopReg.model}}</div>
      </div>
      <div class="form-group">
        <label>Laptop Serial Number</label>
        <div class="form-control">{{laptopReg.serialNumber}}</div>
      </div>
      <div class="form-group">
        <label>Purchase Price</label>
        <div class="form-control">{{laptopReg.purchasePrice}}</div>
      </div>
      <div class="form-group">
        <label>Purchase Date</label>
        <div class="form-control">{{laptopReg.purchaseDate}}</div>
      </div>
    </div>
  </div>